@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .inventory-background {
        position     : relative;
        top          : 23.5%;
        left         : 0;
        border-radius: 25px;
        padding      : 0;
    }
}